
.year0  {
    background-color: #c4c4ff;
}
.year1  {
    background-color: #f0f0f0;
}
.year2 {
    background-color: #ffff80;
}
.year3  {
    background-color: #ffb8b8;
}
.year4  {
    background-color: #80ff80;
}
.yearx  {
    background-color: #ff0000;
}
