{% extends "knowbees/base.html" %}


{% block header %}

{% include 'knowbees/datepicker-multi.html' %}

{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'hives/css/add.css' %}">
<script src="{% static 'hives/javascript/add.js' %}"></script>

{% endblock header %}



{% block content %}

{% include 'hives/base.html' %}


<form id="add_form" method="POST" action="do_add"
      onsubmit="return checkdata()">

    {% csrf_token %}

    <table class="addtable">
        <tr class="addtable">
            <td colspan="2" class="addtable center">
                <h1>Add a Hive</h1>
            </td>
        </tr>

        <!-- <tr class="addtable tall"></tr> -->

        <tr class="addtable">
                <td class="addtable right">
                    <label>Label:</label>
                </td>
                <td class="addtable left">
                    <input id="label" name="label"
                           type="text" class="addtable" />
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label class="">Hive From:</label>
                </td>
                <td class="addtable left">
                    <input id="from" name="from" type="text" class="addtable" />
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label class="">Queen Year:</label>
                </td>
                <td class="addtable left">
                    <select id="queen_year" name="queen_year"
                            onchange="change_year()"
                            class="{{ year_color }}">
                        {% for year in years %}
                            <option value="{{ year }}"
                            {% ifequal year this_year %}
                                selected="selected"
                            {% endifequal %}
                            >{{ year }}</option>
                        {% endfor %}
                    </select>
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label>Queen Breed:</label>
                </td>
                <td class="addtable left">
                    <select id="queen_breed" name="queen_breed" class="">
                        {% for breed in breeds %}
                        <option value="{{ breed }}">{{ breed }}</option>
                        {% endfor %}
                    </select>
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label>Queen From:</label>
                </td>
                <td class="addtable left">
                    <input id="Queen_from" name="Queen_from" type="text" class="addtable" />
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label>Location:</label>
                </td>
                <td class="addtable right">
                    <input id="location" name="location" type="text" class="addtable" />
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label>Brood Boxes:</label>
                </td>
                <td class="addtable right">
                    <input id="brood_boxes" name="brood_boxes"
                           type="number" class="addtable"
                           min="1" value="1" />
                </td>
        </tr>

        <tr class="addtable">
                <td class="addtable right">
                    <label>Supers:</label>
                </td>
                <td class="addtable left">
                    <input id="supers" name="supers"
                           type="number" class="addtable"
                           min="0" value="0" />
                </td>
        </tr>

        <tr class="addtable tall"></tr>

        <tr class="addtable">
                <td colspan="2" class="addtable center">
                        <input type="submit" class="">
                </td>
        </tr>


    </table>

    

</form>



{% endblock content %}
