{% extends "knowbees/base.html" %}


{% block header %}

{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'hives/css/list.css' %}">
<script src="{% static 'hives/javascript/list.js' %}"></script>

{% endblock header %}



{% block content %}

{% include "./base-start.html" %}


<h1 class="center hives-width hives-heading">Hives List</h1>

<br />

{% if message %}
<p>{{ message }}</p>
<br />
{% endif %}

<table class="list-table-outer hives-width"><tr><td>
<table id="main-table" class="list-table full-width">

    <tr>
        <th class="center list-table"></th>
        <th class="center list-table">
            Label
        </th>
        <th class="center list-table">
            Pallet
        </th>
        <th class="center list-table">
            Llocation
        </th>
        <th class="center list-table">
            Queen Year
        </th>
        <th class="center list-table">
            Queen Breed
        </th>
        <th class="center list-table">
            Supers
        </th>
        <th class="center list-table"></th>
    </tr>

    {% if hive_list %}
        {% for hive in hive_list %}
            <tr class="list-table">
                <td class="center list-table">
                    <a href="../edit?label={{ hive.label }}" class="center">
                        <img src="{% static 'hives/pics/edit.svg' %}" alt="edit" 
                            height="20" width="20">
                    </a>
                </td>
                <td class="center list-table {{ hive.queen_color_class }}">{{ hive.label }}</td>
                <td class="center list-table {{ hive.queen_color_class }}">{{ hive.pallet_name }}</td>
                <td class="center list-table {{ hive.queen_color_class }}">{{ hive.location }}</td>
                <td class="center list-table {{ hive.queen_color_class }}">{{ hive.queen_year }}</td>
                <td class="center list-table {{ hive.queen_color_class }}">{{ hive.queen_breed_name }}</td>
                <td class="center list-table {{ hive.queen_color_class }}">{{ hive.supers }}</td>
                <td class="center list-table">
                    <a href="../delete?label={{ hive.label }}">
                        <img src="{% static 'hives/pics/delete.ico' %}" alt="del" 
                            height="20" width="20">
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No hives have been entered</td>
        </tr>
    {% endif %}

</table>
</td></tr></table>

{% include 'hives/base-end.html' %}

{% endblock content %}
