{% extends "knowbees/base.html" %}


{% block header %}

{% load static %}
<link rel="stylesheet" type="text/css"
      href="{% static 'hives/css/list.css' %}">
<script src="{% static 'hives/javascript/list.js' %}"></script>

{% endblock header %}



{% block content %}

{% include 'hives/base-start.html' %}

<h1 class="center hives-width hives-heading">Hives Menu</h1>

<br />

<ul class="list-group">
    <li class="list-group-item"><a href="{% url 'add_hive'%}">Add a Hive</a></li>
    <li class="list-group-item"><a  href="{% url 'list_hives'%}">Hives List</a></li>
</ul>


{% include 'hives/base-end.html' %}

{% endblock content %}
